<!--WK04-A: Building the ADD INVENTORY FORM UI 
 This file display the FORM to admin-user to add a
 vehicle items into the database. Apply the Stickiness
-->

<!-- Display Title -->
<h1>
    <%= title %>
</h1>

<!-- This displays the flash messages (like "Sorry, insertion failed") -->
<%- messages() %>

<!-- This displays the specific validation errors (like "Please provide a make") -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
        <% }) %>
    </ul>
    <% } 
%>

<!--Add-Inventory Form -->
<form action="/inv/update" method="post" class="login-form">
    <label  for="classificationList">Classification</label>
    <%- classificationSelect %>
    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>

    <label for="invMake">Make</label>
    <input type="text" name="inv_make" id="invMake" required value="<%= locals.inv_make %>">

    <label for="invModel">Model</label>
    <input type="text" name="inv_model" id="invModel" required value="<%= locals.inv_model %>">

    <label for="invYear">Year</label>
    <input type="number" name="inv_year" id="invYear" required value="<%= locals.inv_year %>">

    <label for="invDescription">Description</label>
    <textarea name="inv_description" id="invDescription" required><%= locals.inv_description %></textarea>

    <label for="invImage">Image Path</label>
    <input type="text" name="inv_image" id="invImage" value="/images/vehicles/no-image.png" required>

    <label for="invThumbnail">Thumbnail Path</label>
    <input type="text" name="inv_thumbnail" id="invThumbnail" value="/images/vehicles/no-image-tn.png" required>

    <label for="invPrice">Price</label>
    <input type="number" name="inv_price" id="invPrice" required value="<%= locals.inv_price %>">

    <label for="invMiles">Miles</label>
    <input type="number" name="inv_miles" id="invMiles" required value="<%= locals.inv_miles %>">

    <label for="invColor">Color</label>
    <input type="text" name="inv_color" id="invColor" required value="<%= locals.inv_color %>">

    <button type="submit">Update Vehicle</button>
    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>